* {
    box-sizing: border-box;
}
:root{
    --bs-body-font-family:'Jost', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(images/Desktop\ -\ 1.png);
    background-repeat: no-repeat;
}

.user_icon{
    margin-top: 14rem;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

.vertical_line{
    border-left: 6px solid gray;
    height: 100vh;
    margin-left : 90px;
}

.intro{
    margin: 190px 0px 0px 130px;
    line-height: 1.6;
}

.projects{
    margin: 0px 0px 0px 130px;
    line-height: 1.6;
}

.project_icon{
    margin-top: 9rem;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

.cards{
    margin:  50px 0px 35px 120px;
}
.card{
    box-shadow: 5px 5px #cccccc;
}
.see_more_btn{
    margin:  10px 0px 0px 130px;
    width: 120px;
    height: 40px;
    border-radius: 100px !important;
}

.socmed{
    border-radius: 100%;
}

footer{
    position: relative;
    width: 100%;
    line-height: 50px;
    /*background: rgba(49, 49, 49, 0.7);*/
    backdrop-filter: blur(125px);
}

.glass_layer{
    height: 200px;
    width: 100%;
    background: rgba(39, 39, 39, 0.85);
    margin-top: -200px;
}

.circle2{
    height: 420px;
    width: 420px;
    background: #FFB800;
    margin-top: -450px;
    border-radius: 100%;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9b9b9b; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #747474; 
}